<form method="post" action="{{ path('app_activite_seance_delete', {'id': activite_seance.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ activite_seance.id) }}">
    <button class="btn">Delete</button>
</form>
