 <turbo-frame id="main_page">
    <h2>Créer une nouvelle Séquence</h2>

    {{ include('admin/sequence/_form.html.twig') }}

    <a href="{{ path('app_sequence_index') }}" data-turbo-frame="main_page">back to list</a>
</turbo-frame>