header
{
    height: 20vh;
    background-position: right center;
    background-image: url('/assets/pictures/background-header.jpg');
    background-size: cover;
    background-color: #efe6d4;
    overflow: hidden;
}
nav{
  height: 10vh;
}
main{
  height: 65vh;
}
footer{
  height: 5vh;
}
.navbar
{
    background-color: #AF874C;
}
.loginbar
{
    background-color: #011b37; 
}
.avatar_small
{
    height: 35px;
    width: 35 px;
    margin: 5px;
    border-radius: 50%;
}
.pied_article
{
   display: flex;
   justify-content: flex-end;
    margin: 15px 50px 15px 0px;
}
p{
    text-align: justify;
}
$primary: #F9070B;


  body {

    height: 100vh;
  }
  .scrollable-content {
    overflow: hidden;
    scrollbar-gutter: stable;
  }
  
  .scrollable-content:hover,
  .scrollable-content:active,
  .scrollable-content:focus {
    overflow-y: scroll;
  }
  
  .scrollable-content::-webkit-scrollbar {
    width: 0.5em;
  }
  
  .scrollable-content::-webkit-scrollbar-track {
    background-color: hsl(250 15% 93%);
  }
  
  .scrollable-content::-webkit-scrollbar-thumb {
    background-color: hsl(250 15% 60%);
  }
  
  .scrollable-content::-webkit-scrollbar-thumb:hover {
    background-color: hsl(250 15% 27%);
  }
.main_page
{
height: 100%;
}