header
{
    min-height: 25vh;
    background-position: center center;
    background-image: url('/assets/pictures/background-header.jpg');
    background-size: cover;
}
.navbar
{
    background-color: #AF874C;
}
.loginbar
{
    background-color: #011b37; 
}
.avatar_small
{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.pied_article
{
   display: flex;
   justify-content: flex-end;
    margin: 15px 50px 15px 0px;
}
p{
    text-align: justify;
}
$primary: #F9070B;