 <nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Barre de navigation</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="index.php">Accueil</a>
          </li>
          <!-- sous menu -->
          {% for menuItem in menu %}
          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{ menuItem.title}}
          </a>
          <ul class="dropdown-menu">
             {% for moduleItem in menuItem.modules %}
            <li><a class="dropdown-item" href="/home/sommaire/{{ moduleItem.id }}">{{ moduleItem.acronyme }} -  {{ moduleItem.title }}</a></li>
            {% endfor %}
          </ul>
        </li>
         {% endfor %}
       
    {# PARTIE ADMIN #}
         <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Administration
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/admin/cursus"  data-turbo-frame="main_page">Les Cursus</a></li>
            <li><a class="dropdown-item" href="/admin/module"  data-turbo-frame="main_page">Les Modules</a></li>
            <li><a class="dropdown-item" href="/admin/sequence"  data-turbo-frame="main_page">Les Séquences</a></li>
            <li><a class="dropdown-item" href="/admin/seance"  data-turbo-frame="main_page">Les Séances</a></li>
            </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>