 <turbo-frame id="main_page">
    <h1>Create new Module</h1>

    {{ include('admin/module/_form.html.twig') }}

    <a href="{{ path('app_module_index') }}" data-turbo-frame="main_page">back to list</a>
</turbo-frame>
