 <turbo-frame id="main_page">
    <h1>Create new Seance</h1>

    {{ include('admin/seance/_form.html.twig') }}

    <a href="{{ path('app_seance_index') }}" data-turbo-frame="main_page">back to list</a>
</turbo-frame>
