{% extends 'base.html.twig' %}

{% block title %}New TypeExercice{% endblock %}

{% block body %}
    <h1>Create new TypeExercice</h1>

    {{ include('type_exercice/_form.html.twig') }}

    <a href="{{ path('app_type_exercice_index') }}">back to list</a>
{% endblock %}
