{% extends 'base.html.twig' %}

{% block title %}New ExerciceHP5{% endblock %}

{% block body %}
    <h1>Create new ExerciceHP5</h1>

    {{ include('exercice_hp5/_form.html.twig') }}

    <a href="{{ path('app_exercice_h_p5_index') }}">back to list</a>
{% endblock %}
